@import "../App.scss";

.add-channel {
  font-size: 1rem;
  margin-left: 1rem;
  color: rgb(100, 100, 100);
  padding: 0;
}

.add-icon {
  color: rgb(100, 100, 100);
  padding: 0;
  margin-left: 1rem;
}

.add-icon:hover {
  font-weight: 700;
  box-shadow: 0px;
  text-shadow: 0px;
}
