@import "../styles/variables.scss";

//TODO: Some scss needs to be moved down into the appropriate scss files

.header {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: row;
  color: white;
  background-color: $dark-background;
  width: 100vw;
  height: $sidebar-width;
}

.container {
  width: 100%;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;

  &--rooms {
    width: $sidebar-width;
    min-width: $sidebar-width;
    background-color: lighten($dark-background, 5);
    margin: 0;
  }

  &--channels {
    width: $sidebar-width * 2.5;
    min-width: $sidebar-width * 2.5;
    background-color: lighten($dark-background, 10);
  }

  &--friends {
    position: relative;
    padding: 1rem;
    right: 0rem;
    min-width: $sidebar-width * 2.5;
    width: $sidebar-width * 2.5;
    background-color: lighten($dark-background, 10);
  }
}

.messages {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: lighten($dark-background, 5);
  width: 100%;
  align-items: flex-start;
}
