@import "../../styles/variables.scss";

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .nav-options {
    display: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .home-button {
    height: 4rem;
    width: 4rem;
    margin: 1rem;
    color: $grey-text;

    &:hover {
      cursor: pointer;
      color: white;
    }
  }

  .user-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: $icon-margin;

    &--hamburger {
      @include icon-vars;
    }

    &--gear {
      background-color: transparent;
      color: lighten($dark-background, 20);
      @include icon-vars;
    }

    &--avatar {
      color: black;
      font-size: 2.5rem;
      @include icon-vars;
      word-spacing: -10px;
    }

    &--logo {
      @include icon-vars;
    }

    .logout-btn {
      // font-size: 1.5rem;
      color: $grey-text;
      // height: 1rem;
      // width: 4rem;
      border: 2px solid $grey-text;
      border-radius: 5px;
      padding: 0.25rem 0.75rem 0.25rem 0.75rem;

      &:hover {
        cursor: pointer;
        // font-weight: 600;
        color: lighten($sig-color, 15);
        border-color: $sig-color;
        box-shadow: 0px 0px 5px lighten($sig-color, 10) inset;
      }
    }
  }
}
