@import "variables.scss";

//TODO: Some scss needs to be moved down into the appropriate scss files

.header {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: row;
  color: white;
  background-color: $dark-background;
  width: 100vw;
  height: $sidebar-width;
}

.container {
  width: 100%;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;

  &--rooms {
    width: $sidebar-width;
    background-color: lighten($dark-background, 5);
    margin: 0;
  }

  &--channels {
    padding: 1rem;
    width: $sidebar-width * 3;
    background-color: lighten($dark-background, 10);
  }

  &--friends {
    position: relative;
    padding: 1rem;
    right: 0rem;
    width: $sidebar-width * 3;
    background-color: lighten($dark-background, 10);
  }
}

.messages {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  bottom: 0;
  background-color: lighten($dark-background, 5);
  width: 100%;
  align-items: stretch;
}

.webrtc {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: $sidebar-width;
  top: $sidebar-width;
  background-color: lighten($dark-background, 5);
}

video {
  width: 40vw;
  height: 30vw;
  margin: 2rem;
  background: #2c3e50;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}
