@import "variables.scss";

.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  color: white;
  background-color: $dark-background;
  width: 100vw;
  height: $sidebar-width;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--rooms {
    margin-top: $sidebar-width;
    bottom: 0;
    width: $sidebar-width;
    background-color: lighten($dark-background, 5);
  }
}
.webrtc {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: $sidebar-width;
  top: $sidebar-width;
  background-color: lighten($dark-background, 5);

}

video {
  width: 40vw;
  height: 30vw;
  margin: 2rem;
  background: #2c3e50;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}