@import "./reset.scss";
@import "~normalize.css/normalize.css";
@import "./variables.scss";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: white;
}

.layout {
  display: flex;
  height: 100vh;
}
